
.content {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
}
.content h1 {
      color:  red;
      size: 7rem;
      background-color: white;
      width: 60rem;
      height: 5rem;
      text-align: center;
      border: var(--border);
      border-radius: 0.3rem;
}